body {
    background: url("/assets/frappe/css/2-spacetech-startups-get-access-to-ISRO-facilities-expertise-to-test-rocket-systems.jpg")
                center/cover no-repeat fixed;
    margin: 0;
    height: 100vh;
}

